In [12]:
%matplotlib inline

import argparse
import numpy as np
import matplotlib.pyplot as plt
from csv import DictReader, DictWriter

import pandas 
import datetime

import warnings
warnings.filterwarnings("ignore")
import seaborn as sns
sns.set(style="white", color_codes=True)


def plot():
    #Create plot of wages
    t = data
    t['PREVAILING_WAGE'].value_counts().tolist
    t = t[t['PREVAILING_WAGE']<250000]
    t = t[t['PREVAILING_WAGE']>0]
    ax = sns.distplot(t['PREVAILING_WAGE'],axlabel='Prevailing wages for H-1B applications')
    sns.plt.show(ax)




if __name__ == "__main__":

    parser = argparse.ArgumentParser(description='H-1B Parser')
    parser.add_argument('--plot', type=int, default=None,
                        help="default")                    
    args = parser.parse_args()
    
   
    data = pandas.read_csv("/home/nathan/Desktop/WRTG3030/h1b_kaggle.csv")
    
    #List of top IT related jobs
   
    
    
    
    #Print top 20 employers based on number of petitions
    #print(data['EMPLOYER_NAME'].value_counts().head(20))
    
    
    
    
    #Get top 20 SOC codes
    
    soc = data
    print(soc['SOC_NAME'].value_counts().head(50))
    
    if(args.plot):
        plot()

usage: ipykernel_launcher.py [-h] [--plot PLOT]
ipykernel_launcher.py: error: unrecognized arguments: -f /run/user/1000/jupyter/kernel-1ff7595d-adc9-4f0b-984d-bda897be45aa.json

SystemExit: 2

In [2]:
import pandas
data = pandas.read_csv("/home/nathan/Desktop/WRTG3030/h1b_kaggle.csv")

In [4]:
data.plot()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003

In [5]:
data[data["CASE_STATUS"] == "WITHDRAWN"].head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003
9,10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,154648.0,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222
69,70,WITHDRAWN,SANTA ROSA MEMORIAL HOSPITAL,CHIEF EXECUTIVES,CHIEF MEDICAL INFORMATICS OFFICER,Y,234457.6,2016.0,"SANTA ROSA, CALIFORNIA",-122.714055,38.440429
76,77,WITHDRAWN,UNIVERSAL CITY STUDIOS PRODUCTION LLLP,CHIEF EXECUTIVES,"SENIOR DIRECTOR, RIDE AND SHOW",Y,178942.0,2016.0,"ORLANDO, FLORIDA",-81.379237,28.538335
79,80,WITHDRAWN,HARIBOO FOOD 2004 INC,CHIEF EXECUTIVES,VP MARKETING (IMPORT/EXPORT),Y,159369.6,2016.0,"HIALEAH, FLORIDA",-80.278106,25.857596

In [8]:
data["Tech Job"] = ["True" if x == "Y" else "False" for x in data["FULL_TIME_POSITION"] ]

In [9]:
data.head()

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,Tech Job
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.0,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826,False
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.0,2016.0,"PLANO, TEXAS",-96.698886,33.019843,True
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.0,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158,True
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.0,2016.0,"DENVER, COLORADO",-104.990251,39.739236,True
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003,True